<div id="container">
	<header id="header" ng-controller="NavbarController"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href=""><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href=""><i class="fa fa-envelope"></i> info@domain.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								<li><a href=""><i class="fa fa-dribbble"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="#/"><img src="../images/home/logo.png" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<!-- <li><a href=""><i class="fa fa-user"></i> Account</a></li> -->
								<li ng-show="loggedIn"><a href="#/wishlist"><i class="fa fa-star"></i> Wishlist</a></li>
								<li ng-show="loggedIn"><a href=""><i class="fa fa-crosshairs"></i> Checkout</a></li>
								<li><a href="#/cart"><i class="fa fa-shopping-cart"></i> Cart <span class="badge">{{cart_count()}}</span></a></li>
								<li><a href="#/feedback"><i class="fa fa-lock"></i> Give Feedback</a></li>
								<li ng-show="loggedIn"><a href=""><i class="fa fa-lock"></i>{{username}}</a></li>
								<li ng-show="loggedIn" ng-click="logout()"><a href="#/">Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="#/" class="active">Home</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3" ng-controller="ListController">
					<div class="left-sidebar">
						<h2>Categories</h2>
						<div class="panel-group category-products" id="accordian">
							<div class="panel panel-default" ng-repeat="(id,cat) in categoriesById">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="" ng-click="">{{cat.name}} <span class="badge label label-warning"> {{cat.count}}</span> </a></h4>
								</div>
							</div>
						</div><!--/category-products-->
					</div>
				</div>

				<div class="col-sm-9 padding-right" ng-controller="ProductController as pc">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-6">
							<div class="view-product">
								<img src="{{product.image}}" alt="" />
							</div>
						</div>
						<div class="col-sm-8">
							<div class="product-information"><!--/product-information-->
								<img src="../images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>{{product.name}}</h2>
								<p>Product Code : {{product.code}}</p>
								<p>Product Description : {{product.description}}</p>
								<span>
									<span>Rs {{product.sellPrice.toFixed(2)}}</span>
				<!--					<label>Quantity:</label>
									<input type="text" value="3" /> -->
										<a class="btn btn-default add-to-cart"
                                           ng-click="addcart(product.id)"><i
                                                class="fa fa-shopping-cart"></i>Add to cart</a>
									</input>
								</span>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Condition:</b> New</p>
								<p><b>Brand:</b> E-Mart</p>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
				</div>
			</div>
		</div>
	</section>
</div>